
<div class="hold">
  <div class="container pt-5">    
    <!-- BR MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/brazil.svg" alt="" class="mr-3">
        <h1>BR Movies</h1>
      </div>      
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of brMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END BR MOVIES -->
    <!-- ES MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/spain.svg" alt="" class="mr-3">
        <h1>ES Movies</h1>
      </div>      
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of esMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END ES MOVIES -->
    <!-- AR MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/argentina.svg" alt="" class="mr-3">
        <h1>AR Movies</h1>
      </div>  
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of arMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END AR MOVIES -->
    <!-- US MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/united-states.svg" alt="" class="mr-3">
        <h1>US Movies</h1>
      </div>  
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of usMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END US MOVIES -->  
    <!-- COMEDY MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/humor.svg" alt="" class="mr-3">
        <h1>COMEDY Movies</h1>
      </div>  
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of comedyMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END US MOVIES --> 
    <!-- ACTION MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/killer.svg" alt="" class="mr-3">
        <h1>ACTION Movies</h1>
      </div> 
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of actionMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END ACTION MOVIES --> 
    <!-- DRAMA MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/theater.svg" alt="" class="mr-3">
        <h1>DRAMA Movies</h1>
      </div> 
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of dramaMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END DRAMA MOVIES -->  
    <!-- CRIME MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/private-detective.svg" alt="" class="mr-3">
        <h1>CRIME Movies</h1>
      </div> 
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of crimeMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END CRIME MOVIES --> 
    <!-- ROMANCE MOVIES-->
    <section class="d-flex flex-wrap w-100 mb-4">
      <div class="d-flex align-items-center title mb-2">
        <img src="../../../assets/images/heart.svg" alt="" class="mr-3">
        <h1>ROMANCE Movies</h1>
        {{romanceMovies.length}}
      </div>
      <div class="d-block w-100"></div>
      <div class="row">        
        <div class="col-4 mb-2" *ngFor="let movie of romanceMovies;">
          <div *ngIf="movie">
            <app-movie
              [(movie)]="movie"  
              (navigateToMovie)="onNavigateToMovie($event)"                  
            ></app-movie>
          </div>
          </div>
      </div>
    </section>  
    <!-- END ROMANCE MOVIES -->            
  
  </div>
</div>


